@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background-color: #B6C173;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Raleway';
}

/* below contains all the styling for the main html page */
/*style for the header */

/* style for the main section */

h1 {
    font-size: 5.4rem;
    margin-bottom: 6rem;
    text-align: center;
}


h2 {
    font-size: 4.2rem;
    margin-bottom: 5rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* style for the buttons*/
a {
    color: black;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    background: linear-gradient(90deg, #E8CD77 0%, #E8CD77 100%);
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #fff;
    transition: transform 150ms;
    transform: scale(1.03);
}

#highscore-btn {
    background: linear-gradient(90deg, #FFD588 0%, #FFD588 100%);
}

#highscore-btn:hover {
    box-shadow: 0 0.4rem 1.4rem 0 #fff;
    transition: transform 150ms;
    transform: scale(1.03);
}

.fa-crown {
    font-size: 2.5rem;
    margin-left: 1rem;
}

/* style for footer */

footer {
    background-color: #89B376;
    padding: 1em;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
}

.social-networks {
    text-align: center;

}

.social-networks>li {
    display: inline;
    text-align: center;

}

.social-networks i {
    font-size: 4.5rem;
    color: black;
    padding: 9px;
    align-items: center;
    padding-bottom: 0;
}

/* below is the styling for the game.html page */

.game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    font-size: 6rem;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    font-size: 4rem;
    min-width: 80rem;
    background: #89B376;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 slategray;
    transform: scale(1.02);
    transition: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    font-size: larger;

}

.choice-text {
    padding: 1rem;
    width: 100%;
    font-size: 125%;
}

.correct {
    background: linear-gradient(32deg, green 0%, darkgreen 100%);
}

.incorrect {
    background: linear-gradient(32deg, red 0%, maroon 100%);
}

/* heads up display */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid #89B376;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: #89B376;
    width: 0%;
}

/* style for end.html */
.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 2rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 #fff;
}

input::placeholder {
    color: slategray;

}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#saveScoreBtn {
    color: black;
}

#end-text {
    text-align: center;
}

/* style for the highscores.html */
#highScoresList {
    list-style: none;
    margin-bottom: 4rem;

}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;

}

/* adjusted css for diff screen size */
@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }

    .game-container {
        margin-bottom: 7rem;
    }



    .hud-prefix {
        font-size: 3.5rem;
    }

    #progressBar {
        width: 10rem;
    }
}

@media screen and (min-width:390px) and (max-width: 420px) {

    h1 {
        font-size: 80%;
    }

    .hud-prefix {
        text-align: center;
        font-size: 2rem;
    }

    .hud-main-text {
        text-align: center;
        font-size: 4rem;
    }

}


/* for devices such as iphone 5*/
@media screen and (min-width: 320px) and (max-width: 390px) {

    h1 {
        font-size: 75%;
    }

    .game-container {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .hud-prefix {
        text-align: center;
        font-size: 2rem;
    }

    .hud-main-text {
        text-align: center;
        font-size: 4rem;
    }

    #progressBar {
        width: 15rem;
        height: 3rem;
        border: 0.2rem solid #89B376;
        margin-top: 2rem;
        border-radius: 50px;
        overflow: hidden;
    }

    #progressBarFull {
        height: 100%;
        background: #89B376;
        width: 0%;
    }

    .choice-text {
        padding: 0;
        width: 100%;
        font-size: 75%;
    }

    .choice-prefix {
        padding: 0;
    }

    /* end page */
    .end-form-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    input {
        width: 20rem;
        padding: 0;
        font-size: 2.5rem;
        text-align: center;
        border: none;
        box-shadow: 0 0.1rem 1.4rem 0 #fff;
    }

    #end-text {
        font-size: 3rem;
    }

    #finalScore {
        font-size: 5rem;
    }

    .btn {
        padding: 0;
    }

}